# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Daily Github-Schedule

on:
   push:
   schedule:
    - cron: "0 2 * * *"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Run script
      env:
        username: ${{ secrets.MAILUSERNAME }}
        password: ${{ secrets.MAILPASSWORD }}
        appId: 3920410
        WECOM_WEBHOOK_URL: ${{ secrets.WECOM_WEBHOOK_URL }}
        VOLCENGINE_API_KEY: ${{ secrets.VOLCENGINE_API_KEY }}
        VOLCENGINE_MODEL: ${{ secrets.VOLCENGINE_MODEL }}
      run: |
        python main.py

    # Runs a set of commands using the runners shell
    - name: push to origin master
      run: |
        echo start push
        git config --global user.name "tinkerc"
        git config --global user.email "chenruoyun@126.com"
        
        git add -A
        git commit -m $(date '+%Y-%m-%d')
        git push
      
